.mobile {
  display: inline-block;
}
.desktop {
  display: none;
}
.text {
  display: none;
}

.button {
  display: flex;
}
.button span {
  color: var(--greyC4);
}
.button span svg {
  margin-right: 3px;
}
@media all and (min-width: 1024px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: inline-block;
  }
  .text {
    display: inline-block;
  }
}
